<div class="w-1/5 bg-amber-800 text-white p-5" th:fragment="sidebar">
    <h1 class="text-xl font-bold mb-4">Bone Fracture Detection</h1>
    <hr class="border border-white border-opacity-50 mb-4" />
    <nav>
        <ul>
            <li class="space-y-2" th:if="${role == 'ROLE_PATIENT'}">
                <a href="/patient/"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md active">Home</a>
                <a href="/patient/doctors"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">Doctors</a>
                <a href="/patient/appointments"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">Appointments</a>
                <a href="/patient/results"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">Results</a>
                <a href="/patient/feedback"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">Feedback</a>
                <a href="/patient/profile"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">Profile</a>
                <a href="/user/logout"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">Logout</a>
            </li>
            <li class="space-y-2" th:if="${role == 'ROLE_DOCTOR'}">
                <a href="/doctor/"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">
                    Home
                </a>
                <a href="/doctor/appointments"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">
                    Appointments
                </a>
                <a href="/doctor/feedback"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">
                    Feedback
                </a>
                <a href="/doctor/profile"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">
                    Profile
                </a>
                <a href="/user/logout"
                    class="block px-4 py-2 bg-neutral-900 bg-opacity-25 hover:bg-amber-700 active:bg-amber-700 transition duration-300 rounded-md">
                    Logout
                </a>
            </li>
        </ul>
    </nav>
</div>