<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error :: Bone Fracture Detection</title>
    <link href="/css/output.css" rel="stylesheet" />
</head>

<body class="flex items-center justify-center min-h-screen bg-slate-100 font-parkinsans">
    <div class="text-center p-10 bg-white shadow-lg rounded-lg">
        <h1 class="text-2xl font-bold text-gray-800 mb-4">Oops! Something went wrong</h1>
        <p class="text-gray-600">We apologize for the inconvenience. The requested page is not available at the moment.
        </p>
    </div>
</body>

</html>