<!doctype html>
<html lang="en">
  <!-- HTML Head -->
  <head>
    <meta charset="UTF-8" />
    <title>Bone Fracture Detection</title>
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />
  </head>

  <!-- HTML Body -->
  <body class="flex h-screen flex-col font-parkinsans">
    <!-- Header -->
    <header class="flex-none bg-neutral-950 p-5 text-center">
      <h1 class="text-4xl font-bold text-white">Bone Fracture Detection</h1>
    </header>

    <!-- Main Content -->
    <main
      class="flex grow flex-col items-center justify-center bg-neutral-900 text-white"
    >
      <form
        class="flex w-4/5 items-center justify-between gap-6"
        action="{{ url_for('index') }}"
        method="POST"
        enctype="multipart/form-data"
      >
        <!-- File Input -->
        <input
          class="w-11/12 rounded-lg border-none bg-neutral-700 file:mr-5 file:rounded-l-lg file:border-none file:bg-sky-50 file:px-6 file:py-3 file:font-bold file:font-medium file:text-sky-700 hover:file:cursor-pointer hover:file:bg-sky-100 hover:file:text-sky-700"
          type="file"
          name="file"
          accept=".jpg,.jpeg,.png"
          required
        />
        <!-- Upload Image Button -->
        <button
          type="submit"
          class="rounded bg-sky-900 px-6 py-3 font-bold text-white hover:bg-sky-700"
        >
          Upload
        </button>
      </form>
      <!-- File Upload: Message -->
      <p class="mt-3 w-4/5 text-left text-xs">
        Please upload an image file in (<strong>JPG, JPEG, PNG</strong>)
      </p>
    </main>

    <!-- Footer -->
    <footer class="flex-none bg-neutral-950 p-5 text-center text-white">
      <p>&copy; 2024 Bone Fracture Detection. All rights reserved.</p>
    </footer>
  </body>
</html>
