<!doctype html>
<html lang="en" class="dark">
  <!-- HTML Head -->
  <head>
    <meta charset="UTF-8" />
    <title>Bone Fracture Detection</title>
    <link
      href="{{url_for('static',filename='css/output.css')}}"
      rel="stylesheet"
    />
  </head>

  <!-- HTML Body -->
  <body class="flex h-screen flex-col font-parkinsans">
    <!-- Header -->
    <header class="flex-none p-5 text-center dark:bg-emerald-950">
      <h1 class="text-4xl font-bold text-white">Bone Fracture Detection</h1>
    </header>

    <!-- Main Content -->
    <main class="flex grow items-center justify-center dark:bg-emerald-900">
      <h1 class="text-4xl font-bold text-white">Hello</h1>
    </main>

    <!-- Footer -->
    <footer class="flex-none p-5 text-center text-white dark:bg-emerald-950">
      <p>&copy; 2024 Bone Fracture Detection. All rights reserved.</p>
    </footer>
  </body>
</html>
